[submodule "modules/continuent_install"]
	path = modules/continuent_install
	url = git@github.com:continuent/continuent_install.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/ec2_hosts"]
	path = modules/ec2_hosts
	url = git@github.com:continuent/ec2_hosts.git
