.vagrant
*.out.txt
*.out.log
continuent-tungsten*
tungsten-replicator*
Vagrantfile
downloads/*
hostfile.txt
manifests/default.pp

.idea/continuent-vagrant.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
